*{
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}
/*header style*/
.header-section{
    height: 100vh;
    background-image: url("/images/banner1.png");
    background-repeat: no-repeat;
    background-position: cover;
    
   
}
.header-container{
    display: flex;
    width: 80%;
    gap: 100px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-align: right;
}
.header-left{
    
    width: 50%;

}
.header-right{
    width: 50%;
    justify-content: center;
    align-items: center;
    padding-top: 250px;
    padding-left: 0px;
    margin: 0 100px;

}
.header-title{
    font-size: 62px;
    text-align: right;
}
.header-paragraph{
    font-size: 18px;
    text-align: right;
    margin-top: 20px;

}
.header-button{
    font-size: 20px;
    text-align: right;
    margin-top: 20px;
    background-color: orange;
    padding: 10px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}
/*previous style*/
.previous-section{
    height: 700px;
  
    
}
.previous-container{
    display: flex;
    width: 80%;
    margin: auto;
    padding-top: 100px;
}
.previous-left{
    width: 50%;
}
.previous-image{
    width: 500px;
    height: 700px;
}
.privious-header{
    font-size: 30px;
    font-weight: bold;
    margin-top: 250px;
    margin-bottom: 20px;
    text-align: justify;
   
}
.previous-list-section-1{
    display: flex;
    justify-content: baseline;
    margin-top: 15px;
}
.previous-icon{
    width: 30px;
}
.previous-list-section-2{
    display: flex;
    justify-content: baseline;
    margin-top: 3px;
}
.previous-list-section-3{
    display: flex;
    justify-content: baseline;
    margin-top: 3px;
}
.previous-list-section-4{
    display: flex;
    justify-content: baseline;
    margin-top: 3px;
}
.previous-list-section-5{
    display: flex;
    justify-content: baseline;
    margin-top: 3px;
}
/*my plan section style*/
.my-plan{
    height: 350px;
    width: 100%;
    
  
}
.my-plan-container{
    width:70%;
    
    text-align: center;
    margin: 200px auto;
   
}
.my-plan-header{
    font-size: 30px;
    font-weight: bold;
    padding-top: 50px;
    margin-bottom: 10px;
    text-align: center;
}
.my-plan-list{
    display: flex;
    gap: 200px;
    
    padding-top: 30px;
}
.my-plan-icon-image{
    margin: auto;
}
.mind-setup-section{
    padding: 100px 0px;
}
.mind-setup-container{
    width: 70%;
    margin: 0 auto;
    background-image: linear-gradient(to right, rgba(171, 89, 39 ,1), rgba(171, 89, 39 ,0.1)) ,url("/images/watch.png");
    height: 300px;
    background-repeat: no-repeat;
    border: none;
    border-radius: 8px;
    
    
}
.mind-setup-container h3{
    padding-left: 60px;
    padding-top: 60px;
    font-size: 40px;
    color: white;
}
.mind-setup-container button{
    margin-left: 60px;
    font-size: 18px;
    padding: 20px;
    width: 150px;
    height: 60px;
    margin-top: 20px;
    border: none;
    border-radius: 10px;
}
/*footer section*/
.footer-section{
    background: #000;
    width: 100%;
    height: 70vh;
    color: white;
}
.footer-container{
    display: flex;
    width:70%;
    height: 500px;
    gap: 250px;
    margin: 30px auto;
}
.footer-section-details{
    width: 50%;
    padding-top: 80px;
    
}
.footer-section-form{
    width: 50%;
    padding-top: 85px;
    padding-left: 150px;
}
.footer-section-details h2{
    font-size: 50px;
    margin-bottom: 20px;
}
.footer-section-details p{
    font-size: 18px;
    margin-bottom: 20px;
    text-align: justify;
    color:gray;
}
.footer-section-image{
    display: flex;
    gap: 10px;
    font-weight: lighter;
}
.footer-section-form h2{
    font-size: 25px;
    margin-bottom: 20px;
}
.email-class{
    font-size: 18px;
    border-radius: 5px;
    background: #000;
    color:white;
    border-color: white;
    
    width: 270px;
    height: 60px;
    margin-top: 25px;
}
.footer-section-form button{
    margin-top: 25px;
    width: 150px;
    height: 70px;
    font-size: 20px;
    color: orangered;
    border: none;
    border-radius: 4px;
    font-weight: bold;

}